.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}
.post_image > img {
    width: 100%;
}
.post_top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}
.post_avatar {
    margin-right: 10px;
}
.post_topInfo > h3 {
    font-size: medium;
}
.post_topInfo > p {
    font-size: small;
    color: gray;
}
.post_bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}
.post_options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor:pointer;
    padding: 15px;
}
.post_option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}
.post_option >p {
    margin-left: 10px;
}
.post_option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}
